.env

.DS_Store
.ipynb_checkpoints/

Users/StuffMy/prog/XDataMining/.ipynb_checkpoints
Users/StuffMy/prog/XDataMining/ActivityTracker/__pycache__
Users/StuffMy/prog/XDataMining/ImageConverter/__pycache__
Users/StuffMy/prog/XDataMining/ImageConverter/Image

/Users/StuffMy/prog/XDataMining/twitter_etl.py

Twitter_etl.ipynb
tweet.py
tweet_new_elon.py
tweet_snscrape.py
twitter_etl.py