.env

.DS_Store
.ipynb_checkpoints/

Users/StuffMy/prog/XDataMining/.ipynb_checkpoints
Users/StuffMy/prog/XDataMining/ActivityTracker/__pycache__
Users/StuffMy/prog/XDataMining/ImageConverter/__pycache__
Users/StuffMy/prog/XDataMining/ImageConverter/Image
